
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #e2e9dc;
  margin: 0;
}

.logo-img {
  height: 55px; 
  width: auto; 
}


.hero-contact {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.hero-contact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.travel-hero-overlay {
  font-family: "Inter", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

.travel-hero-overlay h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}


form {
  padding: 50px 55px;
  margin: 40px auto;
  width: 450px;

  background-color: #307879;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  text-align: center;
}

form h2 {
  color: #ffffff;
  margin-bottom: 25px;
}


.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 8px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  border: 2px solid #173f46;
  background-color: #d2dbdd;
  color: #1e3139;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #888;
}


.btn {
  margin: 20px auto 0;
  display: block;
  padding: 12px 30px;

  background: linear-gradient(135deg, #005f6b, #008c9e);
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;

  border: none;
  border-radius: 35px;
  cursor: pointer;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  transition: all 0.3s ease;
}

.btn:hover {
  background: linear-gradient(135deg, #008d7f, #00a9a4);
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
}


.footer {
  background-color: #c8d0cc;
  padding: 40px 0;
}

.footer a {
  color: #2f5d50;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-mail,
.footer-link {
  margin: 0.5rem 0;
}


@media (max-width: 768px) {
  form {
    width: 100%;
    padding: 40px 25px;
  }

  .travel-hero-overlay h1 {
    font-size: 1.8rem;
  }
}
